<footer class="mt-40 border-t-2 border-white bg-white/30">
  <div class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8">
    <div>
      <a href="/" class="-m-1.5 p-1.5">
        <div
          class="md:mb-1 inline-block md:text-[31px]/8 text-cream font-MontreuxBrandingBold uppercase tracking-wide"
        >
          Nina Presotto
        </div>
        <div>
          <span
            class="font-MontreuxBrandingBold text-xs/4 md:text-[15px]/4 text-dark pt-1 px-1 bg-earth-500 uppercase"
            >Coding the way forward</span
          >
        </div>
      </a>
    </div>
    <!-- <div id="footer-col-2">
          <ul>
            <li><a href="">Item 1</a></li>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
          </ul>
        </div> -->
  </div>
  <div
    id="sub-footer"
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
  >
    <!--  <ul class="flex text-sm">
      <li
        class="md:after:px-2 after:text-white/50 md:after:content-['|'] md:mb-2"
      >
        <a
          href=""
          class="font-Electrolize text-xs uppercase font-light hover:underline hover:font-bold"
          >Mentions légales</a
        >
      </li>
      <li>
        <a
          href=""
          class="font-Electrolize text-xs uppercase font-light hover:underline hover:font-bold"
          >Politique de confidentialité</a
        >
      </li>
    </ul> -->
  </div>
</footer>
<button
  id="myBtn"
  title="Go to top"
  class="hidden hover:bg-earth-500 hover:text-dark w-[40px] h-[40px] flex items-center justify-center fixed bottom-4 right-4 z-99 bg-dark text-earth-500 cursor-pointer rounded-md text-lg transition-all"
>
  <div class="mt-1"><i class="fa-solid fa-chevron-up"></i></div>
</button>
<canvas
  id="gradient"
  style="
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
  "
></canvas>
