<h2 class="text-3xl font-semibold mb-4 text-earth-500">
  Understand my process
</h2>
<p>
  From first chat to project delivery, discover how I work — clear steps,
  transparent communication, and efficient collaboration.
</p>
<div class="mt-8">
  <a
    href=""
    class="self-start font-Montserrat font-bold bg-earth-500 text-dark min-w-48 sm:min-w-40 uppercase px-5 py-1 text-sm tracking-wide hover:bg-transparent hover:text-white hover:underline transition-all"
  >
    See how it works
  </a>
</div>
