<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://ninapresotto.com/" />
<meta
  property="og:title"
  content="Nina Presotto | Senior Technical Partner | Web Development & Strategy"
/>
<meta
  property="og:description"
  content="Senior Technical Partner with 25 years of experience. Expert Symfony & WordPress development for complex projects and white-label solutions. Let’s build your project."
/>
<meta
  property="og:image"
  content="https://ninapresotto.com/img/nina_presotto_developer_web.webp"
/>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="https://ninapresotto.com/" />
<meta
  name="twitter:title"
  content="Nina Presotto | Senior Technical Partner | Web Development & Strategy"
/>
<meta
  name="twitter:description"
  content="Senior Technical Partner with 25 years of experience. Expert Symfony & WordPress development for complex projects and white-label solutions. Let’s build your project."
/>
<meta
  name="twitter:image"
  content="https://ninapresotto.com/img/nina_presotto_developer_web.webp"
/>
