<meta property="og:locale" content="fr_FR" />
<meta property="og:url" content="https://ninapresotto.com/fr/" />
<meta
  property="og:title"
  content="Nina Presotto | Senior Technical Partner | Développement Web & Stratégie"
/>
<meta
  property="og:description"
  content="Senior Technical Partner avec 25 ans d'expérience. Expert Symfony et WordPress pour vos projets complexes et solutions en marque blanche. Donnons vie à votre projet."
/>
<meta
  property="og:image"
  content="https://ninapresotto.com/img/nina_presotto_developer_web.webp"
/>

<meta
  name="twitter:title"
  content="Nina Presotto | Senior Technical Partner | Développement Web & Stratégie"
/>
<meta
  name="twitter:description"
  content="Senior Technical Partner avec 25 ans d'expérience. Expert Symfony et WordPress pour vos projets complexes et solutions en marque blanche. Donnons vie à votre projet."
/>
<meta
  name="twitter:image"
  content="https://ninapresotto.com/img/nina_presotto_developer_web.webp"
/>
