<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Nina Presotto",
    "jobTitle": "Senior Technical Partner & Architecte Web",
    "url": "https://ninapresotto.com/fr/",
    "image": "https://ninapresotto.com/img/votre-photo.jpg",
    "description": "Senior Technical Partner avec 25 ans d'expérience. Expert Symfony et WordPress pour vos projets complexes et solutions en marque blanche.",
    "sameAs": ["https://www.linkedin.com/in/nina-presotto"]
  }
</script>
