<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Nina Presotto",
    "jobTitle": "Senior Technical Partner & Web Architect",
    "url": "https://ninapresotto.com/",
    "image": "https://ninapresotto.com/img/nina_presotto_developer_web.webp",
    "description": "Senior Technical Partner with 25 years of experience. Expert Symfony & WordPress development for complex projects and white-label solutions.",
    "sameAs": ["https://www.linkedin.com/in/ninapresotto/?locale=en-US"]
  }
</script>
