<h2 class="text-3xl font-semibold mb-4 text-earth-500">
  Quelle est ma méthodologie ?
</h2>
<p>
  De la prise de contact initiale à la livraison du projet : des étapes claires,
  une communication transparente et une collaboration efficace.
</p>
<div class="mt-8">
  <a
    href="/fr/process/"
    class="self-start font-Montserrat font-bold bg-earth-500 text-dark min-w-48 sm:min-w-40 uppercase px-5 py-1 text-sm tracking-wide hover:bg-transparent hover:text-white hover:underline transition-all"
  >
    Comment ca marche ?
  </a>
</div>
